<ion-header>
  <ion-navbar>
    <ion-title>
      Select category
    </ion-title>
    <div class='category-path'>
      <ion-badge class='home-category' (click)="goToStart()">
        >
      </ion-badge>
      <ion-badge class='current-category' *ngFor="let category of categoryPath" (click)="selectCategory(category)">
        {{ category.short_name }}
      </ion-badge>
    </div>
    <div class='next-categories-collapsible' (click)="toggleCollapse()">
      <div *ngIf="!nextCategoriesCollapsed">
        <ion-badge class='next-category' *ngFor="let category of nextCategories" (click)="selectCategory(category)">
          {{ category.short_name }}
        </ion-badge>
      </div>
      <ion-icon name="arrow-dropup-circle" *ngIf="!nextCategoriesCollapsed && nextCategories.length > 0"></ion-icon>
      <ion-icon name="arrow-dropdown-circle" *ngIf="nextCategoriesCollapsed && nextCategories.length > 0"></ion-icon>
    </div>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class='content-heading'>
    <h3>
      The category has {{ totalListingsCount }} items
    </h3>
    <h3 *ngIf="listings.length > 0">
      Listings for category:
    </h3>
  </div>
  <ion-list>
    <ion-item *ngFor="let item of listings; let i = index" (click)="selectItem(item)">
      <ion-title>
        {{ i+1 }}. {{ item.title }}
      </ion-title>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMoreItems($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
