<ion-header>
  <ion-navbar>
    <ion-title>Item Details</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="navigateHome()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="itemDetails !== null">
    <ion-card-title>
      {{ itemDetails.title }}
    </ion-card-title>
    <img src={{itemDetails.main_image_url}} width="570px"/>
    <ion-card-content>
      <p class="description">
        {{ itemDetails.description }}
      </p>
      <div class="tags">
        <ion-badge class="tag" *ngFor="let tag of itemDetails.tags">
          {{ tag }}
        </ion-badge>
      </div>
      <div class="materials">
        <ion-badge class="material" *ngFor="let material of itemDetails.materials">
          {{ material }}
        </ion-badge>
      </div>
    </ion-card-content>
  </ion-card>
  <div class='actions' *ngIf="itemDetails !== null">
    <a href={{itemDetails.url}} target="_blank" ion-button block (click)="navigateHome()">
      Open on Etsy
    </a>
    <button ion-button block (click)="getSimilar()" [disabled]="!buttonSimilarEnabled">
      Show similar
    </button>
  </div>
  <ion-list>
    <ion-item *ngFor="let item of similarItems; let i = index" (click)="goToDetails(item)">
      <ion-title>
        {{ i+1 }}. {{ item.title }}
      </ion-title>
    </ion-item>
  </ion-list>
</ion-content>
